*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/res/mipmap-hdpi/home.webp
/app/src/main/res/mipmap-mdpi/home.webp
/app/src/main/res/mipmap-xhdpi/home.webp
/app/src/main/res/mipmap-xxhdpi/home.webp
/app/src/main/res/mipmap-xxxhdpi/home.webp
/app/src/main/res/mipmap-anydpi-v26/home.xml
/app/src/main/home-playstore.png
/app/src/main/res/mipmap-hdpi/home_round.webp
/app/src/main/res/mipmap-mdpi/home_round.webp
/app/src/main/res/mipmap-xhdpi/home_round.webp
/app/src/main/res/mipmap-xxhdpi/home_round.webp
/app/src/main/res/mipmap-xxxhdpi/home_round.webp
/app/src/main/res/mipmap-anydpi-v26/home_round.xml
/app/src/main/res/drawable/ic_categorie.xml
/app/src/main/res/drawable/ic_favorites.xml
/app/src/main/res/drawable/ic_home.xml
/app/src/main/res/drawable/ic_settings.xml
/app/src/main/res/menu/nav_menu.xml
